.App {
  min-height: 100vh;
  background-size: cover;
  background-position:center ;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  min-width: 50%;
  min-height: 300px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2rem;
  border-radius: 1rem;
  position: relative;
}

.countdown-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  gap:2rem;
}

.container-message{
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 40%;
  right: 40%;
  align-items: center;
}
.message-span{
  color:#f00;
  font-weight: bold;
  font-size: 17px;
  margin-left: 5px;
}
.message{
  font-size: 12px;
}


.icons{
  font-size: 18px;
}

@media (max-width: 600px)
{

}